aiohappyeyeballs==2.6.1
appdirs==1.4.4
arch==7.2.0
backports.tarfile==1.2.0
bitsandbytes==0.45.4
black==25.1.0
codeshield==1.0.1
dash-daq==0.6.0
dash-tools==1.12.0
dask-expr==1.1.16
dask-ml==2024.4.4
effdet==0.4.1
evaluate==0.4.3
finnhub-python==2.4.23
fqdn==1.5.1
gguf==0.14.0
google-cloud-vision==3.10.1
gradio==5.23.1
grpcio-status==1.62.3
isoduration==20.11.0
jaraco.collections==5.1.0
jsonpointer==3.0.0
jupyter==1.1.1
lida==0.0.14
llama-cpp-python==0.3.8
llama-models==0.1.5
llama-stack==0.1.8
loralib==0.1.2
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.21.5
nvidia-nvtx-cu12==12.1.105
optimum==1.24.0
pdf2image==1.17.0
pdfminer.six==20250324
peft==0.15.0
pi-heif==0.22.0
pikepdf==9.5.2
pip-chill==1.0.3
pmdarima==2.0.4
polygon-api-client==1.14.5
py7zr==0.22.0
pysocks==1.7.1
rouge-score==0.1.2
ruamel.yaml.clib==0.2.12
ruptures==1.1.9
selenium==4.31.0
sentence-transformers==4.0.1
sparqlwrapper==2.0.0
tabulate==0.9.0
tensorflow==2.19.0
tinycss2==1.4.0
tokenize-rt==6.1.0
torchaudio==2.5.1+cu121
triton==3.1.0
unstructured==0.17.2
unstructured-inference==0.8.10
unstructured.pytesseract==0.3.15
uri-template==1.3.0
webcolors==24.11.1
webdriver-manager==4.0.2
wget==3.2
wikidata==0.8.1
yfinance==0.2.51
